.search-box {
    padding: 8px;
  }

.search-box input {
width: 188px;
margin-bottom: 8px;
display: block;
}

.search-box button {
width: 90px;
margin-right: 5px;
}

.search-button {
margin-right: 8px;
}
.delete{
  width: 30px;
  height: 20px;
  font-size: 10px;
  padding: 0;
}
.page ::ng-deep  .ant-pagination{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
ul{
  list-style: none;
  padding: 0;
}
.checkdesc{
  width: 60px;
  font-size: 7px;
}
.singername{
  width: 110px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.coverimg{
  width: 550px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}