<div nz-row class="bannerRow">
  <div nz-col class="star-banner-wp" nzSpan="8" nzPush="5">
      <div class="filter-banner"></div>
  </div>
  <div nz-col  nzSpan="6"  nzPush="5" style="background-color: white;height: 500px;">
    <div nz-row class="textRow">
        <div nz-col>
          <ul style="    padding-left: 20%;">
            <li>
              <h1>登录你的账号</h1>
            </li>
            <li>
              关注好友，发现精彩
            </li>
            <li>你可以关注好友,查看他们的动态</li>
            <li>发现更多美妙音乐</li>
          </ul>
        </div>
    </div>
    
  </div>
</div>