<app-navbar></app-navbar>
<router-outlet></router-outlet>
<!-- <app-collect-music></app-collect-music> -->
<!-- <app-test></app-test> -->
<!-- <app-personal-info></app-personal-info> -->
<!-- <app-personal-center></app-personal-center> -->
<!-- <app-personal-account></app-personal-account> -->
<!-- <app-sheetdetail></app-sheetdetail> -->
<!-- <app-comments [id]="6" [commenttype]="'track'"></app-comments> -->
<!-- <app-music-info></app-music-info> -->
<!-- <app-social></app-social> -->
<!-- <app-mymusic></app-mymusic> -->
<!-- <app-register></app-register> -->
<!-- <app-all-sheet></app-all-sheet> -->
<!-- <app-search></app-search> -->
<!-- <app-musicresult></app-musicresult> -->
<!-- <app-sheetresult></app-sheetresult> -->
<!-- <app-singerresult></app-singerresult>  -->
<!-- <app-userresult></app-userresult> -->
<!-- <app-bands></app-bands> -->
<!-- <app-bandinfo></app-bandinfo> -->
<!-- <app-user-info></app-user-info> -->
<!-- <app-personal-track></app-personal-track> -->
<!-- <app-singerinfo></app-singerinfo> -->
<!-- <app-nologin></app-nologin> -->
<!-- <app-social-no-login></app-social-no-login> -->
<!-- <app-manage></app-manage> -->
<!-- <app-overview></app-overview> -->
<!-- <app-select-music></app-select-music> -->
<!-- <app-select-singer></app-select-singer> -->
<!-- <app-select-sheet></app-select-sheet> -->
<!-- <app-select-user></app-select-user> -->
<!-- <app-add-sheet></app-add-sheet> -->
<app-audio [Songlist]='data' [music]='music'></app-audio>